:root {
    --dark: rgb(20, 20, 20);
    --yellow: rgb(253, 216, 53);
    --blue: rgb(98, 0, 234);
    --orange: rgb(255, 127, 80);
  
    --c1: rgb(38, 70, 83);
    --c2: rgb(42, 157, 143);
}


body {
    background-color: black;
    margin: 0px;
    cursor:initial;
}

.class{
    color:chartreuse;
    font-family: monospace;
}

#hacker{
    animation-duration: 1s;
    animation-name: title;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes title{
    from {
        width:100%;
        line-height: 0.8em;
      }
    
      to {
        width:105%;
        line-height: 2.8em;
      }
}

#anime{
    animation-duration: 0.1s;
    animation-name: letters;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    line-height: 6em;
}

@keyframes letters{
    from {
        color:black
      }
    
      to {
        color:chartreuse
      }
}