img {
    animation-duration: 3s;
    animation-name: papa;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
@keyframes papa{
    from {
        margin-left: 10%;
        width: 90%;
      }
    
      to {
        margin-left: 0%;
        width: 33%;
      }
}